*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#opciones{
    font-weight: bold;  
    
    a{
        &:hover{
            color: lightcoral;
        }
    }
}

.card__contact{
     width: 80%;
     display: block;
     max-width: 800px;
     margin: 0 auto;
}

.form__register {
    text-align: center;
    justify-content: center;
    width: 300px;
    display: block;
    background: rgb(56, 45, 83);
    padding: 30px;
    gap: 10px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;

    .tittle{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .controls{
        width: 100%;
        background: $colorLightgray;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid $colorLightgray;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: $colorDarkblue;
    }

    .botons{
        width: 100%;
        background: #7c68b9;
        border: none;
        padding: 12px;
        color: #fff;
        // margin: 16px 0;
        font-size: 16px;
        &:hover{
            color: lightcoral;
        }  
    }
    
    .nav__link{
        color: #fff;
        display: grid;
    }
}
