*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#opciones{
    font-weight: bold;  
    
    a{
        &:hover{
            color: lightcoral;
        }
    }
}

#carouselExampleIndicators{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100vh;
}

.card__encabezado{
    color: rgb(124, 115, 115);
    text-align: center;
    margin-top: 40px;
}

.card__imagen{
    width: 100%;
    display: block;
    max-width: 800px;
    margin: 0 auto;
}

