$colorRed: hsl(0,78%,62%);
$ColorCyan: hsl(180,62%,55%);
$colorOrange: hsl(34,97%,64%);
$colorBlue: hsl(212,86%,64%);
$colorDarkblue: hsl(234,12%,34%);
$colorGrayblue: hsl(229,6%,66%);
$colorLightgray: hsl(0,0%,98%);
